.container_name{
    display: flex;
    margin-top: 101px;
    justify-content: center;
}

.container_name img{
    width: 464px;
    height: 711px;
    object-fit: cover; 
}

.children_left{
    margin-top: 125px;
}

.children_left h1 {
    color: #0F9;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 415px;
    height: 84px;
}

.children_left h2{
    color: #EFEBE7;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 295px;
    height: 47px;
}

.children_left {
    color: #EFEBE7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    width: 386px;
    height: 198px;
}